section(class="canvas front" id="front")

    div(class="content")

        h2 Welcome to Plaza

        div

            p We're social and its time that our finances are too.

            div

                a(href="#section-2") Join the Waiting List.

    +nav-1({ target: "section-1", direction: "next" })
